.header {
    background-image: url(https://images.pexels.com/photos/17349974/pexels-photo-17349974.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=2000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

.header .container {
    min-height: 500px;
    width: 100%;
    background-color: #0007;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .container h1 {
    width: 80%;
    max-width: 640px;
    color: #ffff;
    display: block;
    padding: 0;
    padding-right: unset;
    padding-left: unset;
    border: none;
    outline: none;
    background: 0 0;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -.02em;
}

.header .search {
    width: 80%;
    max-width: 640px;
}

.container .search-box {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 8px;
    overflow: hidden;


}

.search-box input {
    flex: 1;
    height: 100%;
    border: 1px solid #ffff;
    outline: none;
    background-color: transparent;
    padding: 15px;
    font-size: 17px;
    font-weight: 400;

   
}

.search-box input::placeholder{
    font-size: 17px;
    font-weight: 400;
}


.search-box button {
    height: 100%;
    border: 1px solid #ffff;
    outline: none;
    background-color: #ffff;
    background-color: transparent;

}

.search-box button img {
    padding-inline: 5px;
    max-height: 100%;
    max-width: 100%;
    height: 20px;
}

.trending {
    padding-top: 20px;
    width: 80%;
    max-width: 640px;
    color: white;
    font-weight: 500;
}

.trendingText {
    color: #fff8;
    margin-right: 5px;
}

.logo{
    position: absolute;
    height: 2.3rem;
    width: 9rem;
    top: 15px;
    left: 15px;
}