.header {
    background-image: url(https://images.pexels.com/photos/17349974/pexels-photo-17349974.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=2000);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

.header .container {
    min-height: 500px;
    width: 100%;
    background-color: #0007;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .container h1 {
    width: 40%;
    color: #ffff;
}



.container input {
    padding: 10px 200px;
    display: flex;
    align-self: flex-end;
    border-radius: 8px;
}