.LightBox-container {
    width: 100%;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.573);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.LightBox {
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 95%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.image-container {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
}

.author-download-lightbox {
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

.author-download-lightbox button {
    font-size: 15px;
    padding: 10px;
    background: #05a081;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.author-download-lightbox button:hover {
    cursor: pointer;
    background-color: #0a8b71;
}

.closeLightbox{
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    top: 0px;
    left: -60px;
    position: absolute;
}
.closeLightbox:hover{
    
    color: #a7a7a7;
}