.App {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.loadingClass{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block: 50px;
}